{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}生徒一覧{% endblock title %}

{% block content %}
<h4 class="mt-4 border-bottom">生徒名簿 - ●●△学校</h4>

<form action="{% url 'student_list' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">検索</button>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">学生コード</th>
            <th scope="col">名前</th>
            <th scope="col">クラス</th>
            <th scope="col">グループ</th>
            <th scope="col">番号</th>
            <th scope="col">性別</th>
            <th scope="col">誕生日</th>
            <th scope="col">所属クラブ</th>
            <th scope="col">所属委員会</th>
            <th scope="col">性格など</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for podiiton in student_list %}
        <tr>
            <td>{{ podiiton.students.code }}</td>
            <td>{{ podiiton.students.name }}</td>
            <td>
                {{ podiiton.classes.name }}
            </td>
            <td>
                {{ podiiton.grade }}班
            </td>
            <td>
                {{ podiiton.number }}番
            </td>
            <td>{{ podiiton.students.get_sex_display }}</td>
            <td>{{ podiiton.students.birth_day }}</td>
            <td>
                {{ podiiton.clubs.name }}:{{ podiiton.get_clubs_type_display }}
            </td>
            <td>
                {{ podiiton.committees.name }}{{ podiiton.get_committees_type_display }}
            </td>
            <td>{{ podiiton.students.personality }}</td>
            <td>
                <a href="{% url 'student_edit' student_id=podiiton.students.id year_id=podiiton.years.id %}" class="btn btn-outline-primary btn-sm">生徒情報修正</a>
                <a href="{% url 'student_del' student_id=podiiton.students.id %}" class="btn btn-outline-danger btn-sm">転校</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'student_add' %}" class="btn btn-primary btn-sm my-3">転校生追加</a>
{% endblock content %}
