{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}生徒一覧{% endblock title %}

{% block content %}
<h4 class="mt-4 border-bottom">生徒名簿 - ●●△学校</h4>

<form action="{% url 'student_list' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">検索</button>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">学生コード</th>
            <th scope="col">名前</th>
            <th scope="col">クラス</th>
            <th scope="col">グループ</th>
            <th scope="col">番号</th>
            <th scope="col">性別</th>
            <th scope="col">誕生日</th>
            <th scope="col">所属クラブ</th>
            <th scope="col">所属委員会</th>
            <th scope="col">性格など</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for student in student_list %}
        {% with podiitons=student.student_podiitons.first %}
        <tr>
            <td>{{ student.code }}</td>
            <td>{{ student.name }}</td>
            <td>
                {{ podiitons.classes.name }}
            </td>
            <td>
                {{ podiitons.grade }}班
            </td>
            <td>
                {{ podiitons.number }}番
            </td>
            <td>{{ student.sex }}</td>
            <td>{{ student.birth_day }}</td>
            <td>
                {{ podiitons.clubs.name }}:{{ podiitons.clubs_type }}
            </td>
            <td>
                {{ podiitons.committees.name }}{{ podiitons.committees_type }}
            </td>
            <td>{{ student.personality }}</td>
            <td>
                <a href="{% url 'student_edit' student_id=student.id year_id=2017 %}" class="btn btn-outline-primary btn-sm">生徒情報修正</a>
                <a href="{% url 'student_del' student_id=student.id %}" class="btn btn-outline-danger btn-sm">転校</a>
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'student_add' %}" class="btn btn-primary btn-sm my-3">転校生追加</a>
{% endblock content %}
